<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Tuninfoforyou Application</name>

<description>
Tuninfoforyou Application.
</description>

<author href="https://Tuninfoforyou.com" email="Tuninfoforyou@example.com">
Your Name
</author>
<icon src="img/logo.png" width="72" height="72" />
<icon src="img/logo.png" width="48" height="48" />
<icon src="img/logo.png" width="36" height="36" />
</widget>
